header.main-header{
	background-color:#EC1B23;
	color : white;
	margin:0 0 0 0;
	padding: 1em 1em 1em 1em;
	text-align : right;
}

header.main-header{
	margin-bottom : 2em;
}

img{
	vertical-align : middle;
}

p.subtitle img{
	height : 2em;
	border : solid #01151C 2px;
	border-radius : 0.3em;
}

img.logo{
	float:left;
	width : 14em;
	margin : 0 0 0 0;
	padding: 0 0 0 0;
}

header h1{
	/* font-family: "Lucida Console", Courier, monospace; */
	font-weight: normal;
	font-size: 2.5em;
	margin:0 0 0 0;
	padding: 0.1em 0.1em 0.1em 0.1em;
	color : white;
}

p{
	/*margin : 0 2em 1em 2em;*/
	padding : 0 0 0 0;	
}

p.subtitle {
	font-size : 1em;
	margin: 0 0 0.5em 0;
	padding : 0 0 0 0;	
}

article{
	/*margin : 0 2em 0 2em;*/
	padding : 0 0 0 0;
	/*border : solid 2px;*/
/*	border-left : dashed #aaaaaa 2px; */
}

article p{
	margin : 1em 0 0 0;
	padding : 0.2em 0.2em 0.2em 0.2em;	
}

article nav{
	border : none;
	margin-top : 1em;
	display:block;
	text-align:center;
}

article nav img{
	height:2em;
	vertical-align : middle;
	margin-right: 0.2em 0.2em 0.2em 0.2em;
}

h2{
	font-size : 1.5em;
	font-weight:bold;
	margin : 0 2em 1em 2em;
	padding : 0.2em 0.2em 0.2em 0.2em;	
}

article h2{
	color : white;
	background-color:#EC1B23;
	margin: 0 0 0 0;
	padding : 0.2em 0.2em 0.2em 0.2em;	
	font-weight:normal;
}

a:link, a:visited,  a:active, a:hover{
	color : #73B84B;
	text-decoration : underline;
}
.navbar-collapse a:link{
	font-weight: normal;
}
a:link{
	font-weight: bold;
}

a:visited, a:active{
	font-weight: normal;
}

a:hover{
	background-color : #73B84B;
	color: #ddddff;
}

/* NAVIGATION */

nav img{
	height:2em;
	vertical-align : middle;
	margin-right:0.2em;
	margin-left:0.3em;
}

header.main-header  a{
	color : white;
	font-weight : bold;
	text-decoration : none;
}

p.top{
	clear:both;
	float: right;
	display : inline;
	border : solid 2px;
	border-radius : 2em;
	padding:0.5em;
	background-color:#EC1B23;
	color : white;
	border:none;
}

p.top a{
	color : white !important;
	font-weight : bold;
	text-decoration : none;
}

/* CONTENTS */
section{
	margin: 1em 0 2em 0;
}

ol.iconlist{
	list-style-type : none;
}

ol.iconlist img {
	width : 5em;
	vertical-align : middle;
	margin : 0.3em 1em 1em 1em;
	float : left;
}

ol.iconlist li{
	clear:left;
	margin-bottom : 1em;
}

/* articles */

/* projects and events */
p.loading{
	font-family: "Lucida Console", Courier, monospace;
	font-weight: normal;
	font-size: 2.5em;
	margin:2em 2em 2em 2em;
	padding: 0.1em 0.1em 0.1em 0.1em;
	text-align: center;
}
